.pic-box {
  // position: relative;
  display: flex;
  margin: 50px 0 30px;
  br {
    display: block;
    line-height: 2px;
    content: "";
    margin-top: 0;
  }
  .image-info {
    font-size: 12px;
    color: #c1bbb4;
  }
  .upload-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 48vw;
    height: 40vh;
    background-color: #fcf5f0;
    border-radius: 8px;
  }
  .icon-pic {
    width: 40px;
    height: 40px;
    // margin: 12vh auto;
  }
  .close-icon {
    position: absolute;
    right: -1px;
    width: 20px;
    height: 20px;
    z-index: 9999;
  }
  input {
    display: none;
  }
  .upload-image {
    position: relative;
    margin: 5px auto;
    width: 45vw;
    height: 38vh;
    object-fit: cover;
    border-radius: 8px;
  }
  .camera-image {
    margin: 5px auto;
    width: 45vw;
    height: 38vh;
    object-fit: cover;
    border-radius: 8px;
  }
}
//유사도
.loader {
  line-height: 70px;
  vertical-align: center;
  .inner {
    width: 100px;
    height: 70px;
    background-color: rgb(253, 208, 208);
    border-radius: 50px;
  }
}
//유사도2

.button {
  background: rgb(253, 208, 208);
  border-radius: 100px;
  color: white;
  cursor: pointer;
  font-family: Roboto;
  font-size: 1.9em;
  height: 65px;
  letter-spacing: 0.2px;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 90px;
}
.button:hover {
  background: rgb(249, 203, 203);
}
.button:active {
  box-shadow: inset 0px 2px 8px -1px rgb(249, 203, 203);
}

.fancy-button {
  margin: auto;
  position: relative;
}

.frills,
.frills:after,
.frills:before {
  position: absolute;
  background: rgb(249, 203, 203);
  border-radius: 4px;
  height: 8px;
}

.frills:after,
.frills:before {
  content: "";
  display: block;
}

.frills:before {
  bottom: 45px;
}

.frills:after {
  top: 45px;
}

.left-frills {
  right: 164px;
  top: 28.5px;
}
.active .left-frills {
  -webkit-animation: move-left 0.38s ease-out, width-to-zero 0.38s ease-out;
  animation: move-left 0.38s ease-out, width-to-zero 0.38s ease-out;
}
.left-frills:before,
.left-frills:after {
  left: 15px;
}
.active .left-frills:before {
  -webkit-animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
  animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
}
.active .left-frills:after {
  -webkit-animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
  animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
}

.right-frills {
  left: 164px;
  top: 28.5px;
}
.active .right-frills {
  -webkit-animation: move-right 0.38s ease-out, width-to-zero 0.38s ease-out;
  animation: move-right 0.38s ease-out, width-to-zero 0.38s ease-out;
}
.right-frills:before,
.right-frills:after {
  right: 15px;
}
.active .right-frills:before {
  -webkit-animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
  animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
}
.active .right-frills:after {
  -webkit-animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
  animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
}

.left-frills:before,
.right-frills:after {
  -webkit-transform: rotate(34deg);
  transform: rotate(34deg);
}

.left-frills:after,
.right-frills:before {
  -webkit-transform: rotate(-34deg);
  transform: rotate(-34deg);
}

@-webkit-keyframes move-left {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  65% {
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
  }
  100% {
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
  }
}

@keyframes move-left {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  65% {
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
  }
  100% {
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
  }
}
@-webkit-keyframes move-right {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  65% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
}
@keyframes move-right {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  65% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
}
@-webkit-keyframes width-to-zero {
  0% {
    width: 38px;
  }
  100% {
    width: 8px;
  }
}
@keyframes width-to-zero {
  0% {
    width: 38px;
  }
  100% {
    width: 8px;
  }
}
@-webkit-keyframes move-up {
  100% {
    bottom: 69.75px;
  }
}
@keyframes move-up {
  100% {
    bottom: 69.75px;
  }
}
@-webkit-keyframes move-down {
  100% {
    top: 69.75px;
  }
}
@keyframes move-down {
  100% {
    top: 69.75px;
  }
}

.loader4 {
  position: relative;
  width: 150px;
  height: 20px;

  top: 45%;
  top: -webkit-calc(50% - 10px);
  top: calc(50% - 10px);
  left: 25%;
  left: -webkit-calc(50% - 75px);
  left: calc(50% - 75px);

  background-color: rgba(255, 255, 255, 0.3);
}

.loader4:before {
  content: "";
  position: absolute;
  background-color: #eab5b5;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 0px;
  z-index: 0;
  opacity: 1;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-animation: loader4 10s ease-in-out infinite;
  animation: loader4 10s ease-in-out infinite;
}

.loader4:after {
  content: "LOADING ...";
  color: #eab5b5;
  font-family: Lato, "Helvetica Neue";
  font-weight: 200;
  font-size: 16px;
  position: absolute;
  width: 100%;
  height: 20px;
  line-height: 20px;
  left: 0;
  top: 0;
}

@-webkit-keyframes loader4 {
  0% {
    width: 0px;
  }
  70% {
    width: 100%;
    opacity: 1;
  }
  90% {
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0px;
  }
}

@keyframes loader4 {
  0% {
    width: 0px;
  }
  70% {
    width: 100%;
    opacity: 1;
  }
  90% {
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0px;
  }
}
//게이지바
.cell {
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  // position: absolute;
  top: 42%;
  left: 50%;
  position: absolute;
  span {
    top: 27vh;
  }
  .loader4 {
    top: 28vh;
  }
}

//
@-moz-keyframes gauge-loader {
  0% {
    -moz-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }
  10% {
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  20% {
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  24% {
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  40% {
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  54% {
    -moz-transform: rotate(70deg);
    transform: rotate(70deg);
  }
  56% {
    -moz-transform: rotate(78deg);
    transform: rotate(78deg);
  }
  58% {
    -moz-transform: rotate(73deg);
    transform: rotate(73deg);
  }
  60% {
    -moz-transform: rotate(75deg);
    transform: rotate(75deg);
  }
  62% {
    -moz-transform: rotate(70deg);
    transform: rotate(70deg);
  }
  70% {
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  80% {
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  83% {
    -moz-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  86% {
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  89% {
    -moz-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  100% {
    -moz-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }
}
@-webkit-keyframes gauge-loader {
  0% {
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }
  10% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  20% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  24% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  40% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  54% {
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
  }
  56% {
    -webkit-transform: rotate(78deg);
    transform: rotate(78deg);
  }
  58% {
    -webkit-transform: rotate(73deg);
    transform: rotate(73deg);
  }
  60% {
    -webkit-transform: rotate(75deg);
    transform: rotate(75deg);
  }
  62% {
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
  }
  70% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  80% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  83% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  86% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  89% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  100% {
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }
}
@keyframes gauge-loader {
  0% {
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }
  10% {
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  20% {
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  24% {
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  40% {
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  54% {
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
  }
  56% {
    -moz-transform: rotate(78deg);
    -ms-transform: rotate(78deg);
    -webkit-transform: rotate(78deg);
    transform: rotate(78deg);
  }
  58% {
    -moz-transform: rotate(73deg);
    -ms-transform: rotate(73deg);
    -webkit-transform: rotate(73deg);
    transform: rotate(73deg);
  }
  60% {
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -webkit-transform: rotate(75deg);
    transform: rotate(75deg);
  }
  62% {
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
  }
  70% {
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  80% {
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  83% {
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  86% {
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  89% {
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  100% {
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.gauge-loader:not(:required) {
  background: #f25959;
  -moz-border-radius-topleft: 32px;
  -webkit-border-top-left-radius: 32px;
  border-top-left-radius: 32px;
  -moz-border-radius-topright: 32px;
  -webkit-border-top-right-radius: 32px;
  border-top-right-radius: 32px;
  display: inline-block;
  width: 64px;
  height: 32px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
}
.gauge-loader:not(:required)::before {
  -moz-animation: gauge-loader 4000ms infinite ease;
  -webkit-animation: gauge-loader 4000ms infinite ease;
  animation: gauge-loader 4000ms infinite ease;
  background: white;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  content: "";
  position: absolute;
  left: 30px;
  top: 5.33333px;
  width: 4px;
  height: 26.66667px;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.gauge-loader:not(:required)::after {
  content: "";
  background: white;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  left: 25.6px;
  top: 25.6px;
  width: 12.8px;
  height: 12.8px;
}
