* {
  box-sizing: border-box;
  // background-image: url("../images/background2.jpeg");
  //   font-family
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // width: 375px;
  margin: auto;
}
.login-form {
  width: 80%;
  margin: 250px auto;
  color: white;
  text-align: left;
}

.theme--light.v-label {
  color: white;
}
.submit-btn {
  width: 100%;
  margin: 10px 0;
}
.v-btn:not(.v-btn--round).v-size--default {
  height: 70px;
}

.login-text{
  text-align: left !important;
}