#login {
  box-sizing: border-box;
  height: 100%;
  //   font-family
  // width: 100%;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // width: 375px;
  // margin: auto;
  // @media screen and (max-width: 600px) {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/background/background9.jpeg");
  // }
  .login-form {
    // width: 80%;
    margin: 10px 0;
    color: white;
    text-align: left;

    // margin: 50px auto;
  }
  .login-slogan {
    margin: 120px 40px 50px;
    h2 {
      font-size: 38px;
      font-weight: 900;
    }
    small {
      font-size: 18px;
      opacity: 0.8;
      font-weight: 900;
    }
  }
  .nonlogin-slogan {
    color: white;
    margin: 50px 0;
    h2 {
      margin: 100px auto;
    }
  }
  .theme--light.v-label {
    color: white;
  }
  .submit-btn {
    width: 100%;
    margin: 10px 0;
  }
  .v-btn:not(.v-btn--round).v-size--default {
    height: 45px;
    border-radius: 5px;
  }

  .login-text {
    text-align: left !important;
  }
  .login-btn {
    width: 95%;
    height: 50px;
    margin: 17px auto;
    cursor: pointer;

    border-radius: 5px;
    // background-repeat: no-repeat;
    // background-image: url("../images/icon/kakaologin.png");
  }
  .v-btn__content {
    width: 300px;
  }
}
