.info-btn {
  width: 80%;
  // margin: 10px auto;
}

.submit-btn {
  margin: 0px auto;
  width: 80%;
}

.info-key {
  color: #8c8c8c;
  position: absolute;
  left: 0px;
  margin: 0 10px;
}

.info-value {
  color: #333333;
  position: absolute;
  right: 0px;
  margin: 0 10px;
  font-weight: 900;
}

/* .v-menu__content.theme--light.v-menu__content--fixed.menuable__content__active {
  width: 200px;
} */
